{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    {% if message != None %}
        <div class="alert alert-white alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-header text-center">
                    <a href="/integrations/selectintegrator">
                    <span class="fa-stack text-center fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-orange"></i>
                        <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3 class="card-title text-center">Add Connector</h3>
                    </a>
                </div>
            </div>
        </div>
        <!-- list all datasets -->
        {% for integration in integrations %}
            <div class="col-3">
                <div class="card">
                    <div class="card-header">
                        <div class="text-center">
                        <span class="fa-stack text-center fa-3x">
                            {% if integration.type == 12 %}
                                <i class="fa fa-circle fa-network-wired text-gray"></i>
                            {% endif %}
                        </span>
                        </div>
                        <h5 class="text-primary">
                            {{ integration.name }}</h5>
                        <h6 class="text-danger">
                            Type: {{ integration.type_name }}</h6>
                        <h6 data-toggle="tooltip" data-placement="bottom" title="{{ integration.description }}">
                            {{ integration.description[:30] }}...
                        </h6>
                    </div>
                    <div class="card-footer text-center">
                        <a href="/reports/{{ integration.id }}/1/analyze">
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Quick analysis">
                                <span class="btn-inner--icon"><i class="ni ni-chart-bar-32"></i></span>
                            </button>
                        </a>
                        <a href="/dataprocessing/{{ integration.id }}/previewmydataset?dss={{ integration.type }}">
                            <button type="button" class="btn btn-icon btn-sm btn-success"
                                    title="Data preparation (Model goal issue)" data-toggle="tooltip" data-placement="bottom">
                                <span class="btn-inner--icon"><i class="ni ni-map-big"></i></span>
                            </button>
                        </a>
                        <a href="{{ integration.id }}/{{ integration.type }}/createmodel">
                            <button type="button" class="btn btn-icon btn-danger btn-sm"
                                    title="Create machine learning model" data-toggle="tooltip" data-placement="bottom">
                                <span class="btn-inner--icon"><i class="ni ni-chart-pie-35"></i></span>
                            </button>
                        </a>
                        <a href="{{ integration.id }}/downloaddataset">
                            <button type="button" class="btn btn-default btn-sm" title="Download dataset" data-toggle="tooltip" data-placement="bottom">
                                <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
        <!-- End datasets -->
    </div>

{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script>
        $(document).ready(function () {
            // Javascript method's body can be found in assets/js/demos.js
            md.initDashboardPageCharts();

        });
    </script>

{% endblock javascripts %}

