<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="canonical" href="https://appseed.us/admin-dashboards/flask-boilerplate-dashboard-argon">

    <title>
        BRONTOMIND - {% block title %} ML Platform {% endblock %} | BRONTOMIND
    </title>

    <!-- Favicon - loaded as static -->
    <link rel="icon" href="/static/assets/img/brand/favicon.png" type="image/png">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="/static/assets/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <!-- Page plugins -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
    <!-- Argon CSS -->
    <link rel="stylesheet" href="/static/assets/css/argon.css?v=1.2.0" type="text/css">
    <!-- Charts js -->
    <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
    <!-- select 2 css -->
    <link href="/static/assets/vendor/select2/dist/css/select2.min.css" rel="stylesheet"/>
    <style>
        #loader {
            color: #FFFFFF;
            position: absolute;
            width: 100%;
            height: 100vh;
            background: url('/static/images/loading2.gif') no-repeat center;
            z-index: 999;
        }
    </style>
    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>
<body class="">
<div id="loader" class="loader"></div>
<div id="body-div">

    <div class="main-content" id="panel">

        {% include "includes/navigation.html" %}

        <div class="container">
            {% block content %}{% endblock content %}
        </div>

    </div>

    {% include "includes/scripts.html" %}

    <!-- Specific JS goes HERE -->
    {% block javascripts %}
    {% endblock javascripts %}

    <script src="/static/assets/js/argon.js?v=1.2.0"></script>
</div>

<!-- Modals -->
<!-- Delete Model Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Model</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure?!! :)
            </div>
            <div class="modal-footer">
                <form action="/deletemodel" method="post">
                    <button type="submit" class="btn btn-secondary">YES</button>
                </form>
                <form>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">NO</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Export to web page Modal -->
<div class="modal fade" id="webpageModal" tabindex="-1" role="dialog" aria-labelledby="webpageModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="material-icons ">WEBPAGE</i>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <label class="bmd-label">
                        <h4><b><u>
                            <li>Page Address:</li>
                        </u></b></h4>
                    </label>
                    <br/>Open this web page address in your browser to predict values.
                    <div class="card">
                        <div class="card-body">
                            <a href="{{ page_url }}" target="_blank"> {{ page_url }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="bmd-label">
                        <h4><b><u>
                            <li>Embed in your page:</li>
                        </u></b></h4>
                    </label>
                    <br/>Copy below code to your web page to predict values from you system.
                    <div class="card">
                        <div class="card-body">
                            {{ page_embed }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Export to APIs Modal -->
<div class="modal fade" id="apisModal" tabindex="-1" role="dialog" aria-labelledby="apisModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="material-icons ">APIs</i>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Use below details to access your APIs from your system.
                <div class="card">
                    <div class="card-body table-responsive">
                        <table border=1, classes='table table-hover' , header="false" , justify="center"
                               style="width: 100%;">
                            <tr>
                                <td style="width: 35%; text-align: right; font-weight: bold">URL:</td>
                                <td><a href="{{ api_url }}" target="_blank"> {{ api_url }}</a></td>
                            </tr>
                            <tr>
                                <td style="width: 35%; text-align: right; font-weight: bold">Public Key:</td>
                                <td>{{ public_key }}</td>
                            </tr>
                            <tr>
                                <td style="width: 35%; text-align: right; font-weight: bold">Private Key:</td>
                                <td>{{ private_key }}</td>
                            </tr>
                            <tr>
                                <td style="width: 35%; text-align: right; font-weight: bold">Request Sample:</td>
                                <td>{{ request_sample }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Upload Large File Modal -->
<div class="modal fade" id="uploadlargefileModal" tabindex="-1" role="dialog" aria-labelledby="uploadlargefileModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Large file uploaded</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Uploaded data file exceeds maximum allowed file size.
            </div>
            <div class="modal-footer">
                <form>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Export to timeforecasting web page Modal -->
<div class="modal fade" id="forecastingwebpageModal" tabindex="-1" role="dialog" aria-labelledby="forecastingwebpageModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="material-icons ">WEBPAGE</i>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <label class="bmd-label">
                        <h4><b><u>
                            <li>Page Address:</li>
                        </u></b></h4>
                    </label>
                    <br/>Open this web page address in your browser to predict values.
                    <div class="card">
                        <div class="card-body">
                            <a href="{{ page_url }}" target="_blank"> {{ page_url }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="bmd-label">
                        <h4><b><u>
                            <li>Embed in your page:</li>
                        </u></b></h4>
                    </label>
                    <br/>Copy below code to your web page to forecsting graph from you system.
                    <div class="card">
                        <div class="card-body">
                            {{ page_embed }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
<script>
    $(document).ready(function () {
        $('#body-div').show();
        $('#loader').hide();
    });
    //document.getElementById('loader').style.display = 'none';
    //document.getElementById('loader').style.display = 'none';
</script>
</html>
