WTForms
pandas
numpy
Flask
matplotlib
Werkzeug
Jinja2
scikit-learn
seaborn
flask_login
flask_migrate
flask_wtf
flask_sqlalchemy
sqlalchemy
email_validator
python-decouple
gunicorn
docx-mailmerge
docxcompose
docx
category_encoders
scipy
nltk
mysql
mysql-connector-python
skforecast
statsmodels~=0.13.2
plotly~=5.7.0
requests

sklearn~=0.0.post1
tqdm~=4.64.0
joblib~=1.2.0
networkx~=2.8.8
sumy~=0.11.0
openai~=0.27.8
spacy~=3.5.3
python-dateutil~=2.8.2
MarkupSafe~=2.1.1