{% extends 'layouts/blank.html' %}

{% block title %} BRONTOMIND {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock stylesheets %}

</head>
<body>
{% block content %}
    <br/>
    {% if message == 'No' %}
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-success">
                    <h2>Detect Objects</h2>
                    <lead>Connect to your files via FTP to uplaod all files to start labeling objects in each file.
                    </lead>
                </div>
                <div class="card-body">
                    <form action="/cvision/{{ model_id }}/objtdetect/detect" method="post" name="labelfiles"
                          enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Run ID: (No spaces or especial characters)</label>
                                    <input type="text" value="" class="form-control" name="run_id" required/>
                                </div>
                                <div class="form-group">
                                    <label>Short Description</label>
                                    <textarea class="form-control text-primary" name="desc" required maxlength="500"
                                              rows="6"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>FTP Host:</label>
                                    <input type="text" value="" class="form-control" name="ftp_host" required/>
                                </div>
                                <div class="form-group">
                                    <label>FTP User:</label>
                                    <input type="text" value="" class="form-control" name="ftp_username" required/>
                                </div>
                                <div class="form-group">
                                    <label>Password:</label>
                                    <input type="password" value="" class="form-control" name="ftp_password" required/>
                                </div>
                                <div class="custom-control custom-checkbox mb-5">
                                    <label>No FTP account, use attached Camera
                                        instead.</label><br/><label class="custom-toggle">
                                    <input type="checkbox"  name="webcam" disabled>
                                    <span class="custom-toggle-slider rounded-circle"></span>
                                </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group text-center">
                                    <br/>
                                    <button type="submit" class="btn btn-primary pull-center"><i
                                            class="fa fa-upload"></i> Connect
                                    </button>
                                </div>
                                <input type="hidden" name="ds_goal" value="{{ ds_goal }}">
                                <input type="hidden" name="ds_source" value="{{ ds_source }}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% if labeled == 'Yes' %}
            <div class="col-md-8 center">
            <div class="card">
                <div class="card-header card-header-success">
                    <h2>Results</h2>
                </div>
                <div class="card-body">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Congratulations!</strong> Files have been labeled successfully.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div style="text-align: center">
                        <a href="/{{ downloadlink }}">
                            <button type="button" class="btn btn-danger pull-center"><i
                                    class="fa fa-download"></i> Download Results
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if labeled == 'No' %}
            <div class="col-md-8 center">
            <div class="card">
                <div class="card-header card-header-success">
                    <h2>Results</h2>
                </div>
                <div class="card-body">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Error!</strong> Connecting to your FTP server failed. Please Re-Enter login details.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        {% endif %}

    {% else %}
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-success">
                    <h2>Category</h2>
                </div>
                <div class="card-body">
                    <div class="alert alert-danger" role="alert">
                        <strong>Sorry!</strong> {{ message }}
                    </div>
                    <a href="/predictevalues?t={{ ds_goal }}">
                        <button type="button" class="btn btn-primary pull-right">Try again</button>
                    </a>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock content %}


{% include "includes/scripts.html" %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% endblock javascripts %}

<script src="/static/assets/js/argon.js?v=1.2.0"></script>

</body>

</html>