{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>Projects</h2>
            <a class="nav-link" data-toggle="modal" data-target="#createprojectModal"
               href="#createprojectModal">
                <button class="btn btn-icon btn-2 btn-outline-primary float-right" type="button" data-toggle="tooltip"
                        data-placement="bottom" title="Create project">
                    <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
                </button>
            </a>
        </div>
    </div>
    <div class="nav-wrapper">
        <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
            <li class="nav-item">
                <a class="nav-link mb-sm-3 mb-md-0 active" id="development-tab" data-toggle="tab" href="#development"
                   role="tab" aria-controls="development" aria-selected="true"><i class="ni ni-laptop mr-2"></i>Development</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-sm-3 mb-md-0" id="production-tab" data-toggle="tab" href="#production" role="tab"
                   aria-controls="production" aria-selected="false"><i
                        class="ni ni-chart-bar-32 mr-2"></i>Production</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-sm-3 mb-md-0" id="archive-tab" data-toggle="tab" href="#archive" role="tab"
                   aria-controls="archive" aria-selected="false"><i class="ni ni-archive-2 mr-2"></i>Archive</a>
            </li>
        </ul>
    </div>
    <div class="card shadow">
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="development" role="tabpanel"
                     aria-labelledby="development-tab">
                    {% if development_projects_message != '' %}
                        <div class="card card-stats mb-4 mb-lg-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <div class="stats">
                                            <p class="lead">{{ development_projects_message }}  </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="production" role="tabpanel" aria-labelledby="production-tab">
                    {% if production_projects_message != '' %}
                        <div class="card card-stats mb-4 mb-lg-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <div class="stats">
                                            <p class="lead">{{ production_projects_message }}  </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="archive" role="tabpanel" aria-labelledby="archive-tab">
                    {% if archive_projects_message != '' %}
                        <div class="card card-stats mb-4 mb-lg-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <div class="stats">
                                            <p class="lead">{{ archive_projects_message }}  </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Modals -->
    <!-- Create Project Modal -->
    <div class="modal fade" id="createprojectModal" tabindex="-1" role="dialog"
         aria-labelledby="createprojectModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="aichatModalLabel">Create Project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/projects/add" method="post" id="dataprepchatForm">
                    <div class="modal-body">
                        <div class="modal-body">
                            <input class="form-control text-primary" type="text" placeholder="Project name"
                                   id="projectname" name="projectname" required/>
                            <textarea class="form-control lead text-primary" name="description" rows="5"
                                      id="description"
                                      placeholder="Describe your project. ..."
                                      required>{{ user_text }}</textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script>
        $(document).ready(function () {
            // Javascript method's body can be found in assets/js/demos.js
            md.initDashboardPageCharts();

        });
    </script>

{% endblock javascripts %}

